$colors: (
	"red": #ff0000,
	"grey": #6c757d,
	"blue": #0d6efd,
	"white": #fff,
	"black": #000,
	"darkGrey": #333333,
);

$breakpoints: (
	"sm": 576px,
	"md": 768px,
	"lg": 992px,
	"xl": 1200px,
	"xxl": 1400px,
);

$colorModifiers: (
	"primary": "blue",
	"secondary": "grey",
	"danger": "red",
);

$spacing: 0.25rem;
