@use "fonts";
@use "variables" as v;
@use "sass:color";

@layer base {
	:root {
		@each $name, $value in v.$colors {
			--#{$name}: #{$value};
			--#{$name}-hover: #{color.scale($value, $lightness: 15%)};
		}
	}

	body {
		font-family: fonts.$font1;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}
